* {
    box-sizing: border-box;
}

body {
    background: #ebe7db;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: relative;
    padding-left: 5px;
    height: 50px;
    background-color: #cfe5fd;
}

h1 {
    font-family: monospace;
    margin: 0;
}

form {
    padding-left: 5px;
    height: 50px;
    background-color: black;
}

.attribution {
    height: 5px;
    width: 80px;
    position: absolute;
    right: 0;
    top: 0;
}

.categories, .searchCity {
    width: 40%;
}

.categories, .searchCity, .searchButton {
    vertical-align: -15px;
}

.landingText {
    margin: 5px 5px;
    font-size: 20px;
}

.weatherResultsContainer {
    overflow: auto;
    white-space: nowrap;
    margin-top: 5px;
}

.weatherResults {
    display: inline-block;
    border: solid black 1px;
    padding: 5px;
    text-align: center;
    background: #cfe5fd;
}

.weather {
    margin: 2px;
}

.wDescription {
    text-transform: capitalize;
    margin: 2px;
}

.weatherTitles, .addressTitle {
    font-weight: bold;
}

.venueResults {
    margin-top: 5px;
    border: 1px solid black;
    overflow: auto;
    width: 300px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.photoOfVenue {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.venueName, .venueCat {
    display: inline-block;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    margin: 5px 5px;
}

.popupToggle {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.venuePopup {
    position: relative;
    display: inline-block;
    visibility: hidden;
}

.venuePopup .venuePopupText {
    width: 260px;
    border-radius: 6px;
    background-color: #ebe7db;
    padding: 5px 5px;
    bottom: 125%;
    left: 50%;
    margin-left: 20px;
    z-index: 1;
}

.venuePopup.show {
    visibility: visible;
}

@media only screen and (min-width: 640px) {
    .venueResultsContainer {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
}