.weatherResultsContainer {
    overflow: auto;
    white-space: nowrap;
}

.weatherResults {
    display: inline-block;
    border: solid black 1px;
    padding: 5px;
    text-align: center;
}

.weather {
    margin: 2px;
}

.wDescription {
    text-transform: capitalize;
}

.weatherTitles {
    font-weight: bold;
}

.venueResults {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid black;
    overflow: auto;
}

.photoOfVenue {
    float: left;
    padding-right: 5px;
}

.venuePopup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    visibility: hidden;
}

.venuePopup .venuePopupText {
    width: 200px;
    border-radius: 6px;
    background-color: bisque;
    padding: 5px 0;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    z-index: 1;
}

.venuePopup.show {
    visibility: visible;
}